<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="title-header flex justify-content-between flex-wrap gap-4 pt-0 pl-0">
  <div class="align-items-center justify-content-start gap-2">
    <div class="flex justify-content-between align-items-center">
      <div class="p-input-icon-right flex align-items-center">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search" />
      </div>      
    </div>
  </div>
  <div
    class="flex flex-grow-1 justify-content-between flex-nowrap gap-4 w-full md:w-auto">
    <div class="flex flex-grow-1 justify-content-end gap-3 white-space-nowrap">
      <div>
        <p-button (click)="showDialog()" icon="pi pi-plus" label="ENGAGEMENT MODE" class="btn-primary btn-mobile">
      </p-button>
      </div>
    </div>
  </div>
</div>

<div class="overflow-visible">
    <p-table [value]="projectData" #dt [paginator]="true" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records" [rows]="10"
      [rowsPerPageOptions]="[5, 10, 15, 20]" [scrollable]="true"
      [globalFilterFields]="['projectEngagementMode', 'status', 'remarks']">
      <ng-template pTemplate="header">
        <tr>
          <th pFrozenColumn>
            <div class="flex align-items-center">
              <div>Action</div>
            </div>
          </th>
          <th pSortableColumn="projectEngagementMode">            
            <div class="flex justify-content-start align-items-center gap-1">
              <div class="min-w-max">
                Engagement Mode
                <p-sortIcon field="projectEngagementMode"></p-sortIcon>
              </div>
            </div>
          </th>
          <!-- <th>            
            <div class="flex justify-content-start align-items-center gap-1">
              <div class="min-w-max">
                Remarks
              </div>
            </div>
          </th> -->
          <th pSortableColumn="status">           
            <div class="flex justify-content-start align-items-center gap-1">
              <div class="min-w-max">
                Status
                <p-sortIcon field="status"></p-sortIcon>
              </div>
            </div>
          </th>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-projectData>
        <tr>
          <td pFrozenColumn class="white-space-nowrap">           
            <div class="flex align-items-center gap-1 max-w-min">
              <p-button
                class="edit-btn"
                [rounded]="true"
                [text]="true"
                pTooltip="Edit"
                tooltipPosition="top"
                 (click)="editProject(projectData.id)"
              >
                <i class="material-symbols-outlined">edit</i>
              </p-button>
              <p-button
                class="edit-btn"
                [rounded]="true"
                [text]="true"
                pTooltip="Delete"
                tooltipPosition="top"
                 (click)="confirmDelete(projectData)"
              >
                <i class="material-symbols-outlined">delete</i>
              </p-button>
              </div>   
          </td>
          <td class="white-space-nowrap">{{ projectData.projectEngagementMode }}</td>
          <!-- <td class="white-space-nowrap">{{ projectData.remarks }}</td> -->

          <td class="white-space-nowrap">
            <p-tag [value]="projectData.status === 1 ? 'Active' : 'Inactive'"
              [severity]="getSeverity(projectData.status)"></p-tag>
          </td>
        </tr>
      </ng-template>
       <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No records found.</td>
          </tr>
        </ng-template>
    </p-table>
  </div>


<p-dialog [draggable]="false" [(visible)]="visible" 
[closable]="false"
[modal]="true" 
[baseZIndex]="10000"
  [style]="{ width: '60rem' }"
>
  <ng-template pTemplate="header">
    <div class="header-text inline-flex align-items-center justify-content-center gap-2">
      {{ isEditMode ? 'Edit Engagement Mode' : 'Add Engagement Mode' }}
    </div>
  </ng-template>

  <div class="container">
    <form [formGroup]="frm" (ngSubmit)="onSaveOrUpdate()">
      <div class="formgrid grid mb-2">
        <div class="field col-12 md:col-6">
          <label for="EngagementMode">Engagement Mode<span class="required-asterisk">*</span></label>
          <input pInputText id="EngagementMode" formControlName="projectEngagementMode"
            placeholder="Enter Engagement Mode" 
            (change)="isEditMode ? onEditProjectExist($event) : onProjectExist($event)"            
            [ngClass]="{ invalid: frm.get('projectEngagementMode')?.invalid && frm.get('projectEngagementMode')?.touched }" />

          <small class="p-error" *ngIf="frm.get('projectEngagementMode')?.touched && frm.get('projectEngagementMode')?.hasError('required') && !frm.get('projectEngagementMode')?.hasError('alreadyExists')">
            &nbsp; &#9888; Engagement Mode is required.
          </small>
          <small class="p-error" *ngIf="frm.get('projectEngagementMode')?.hasError('alreadyExists')">
            &nbsp; &#9888; Engagement Mode already exists.
          </small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="status">Status<span class="required-asterisk">*</span></label>
          <p-dropdown [options]="Status" formControlName="status" optionLabel="label" optionValue="value"
            placeholder="Select Status"  [filter]="true"
            [ngClass]="{ invalid: frm.get('status')?.invalid && frm.get('status')?.touched }"></p-dropdown>
          <small class="p-error" *ngIf="frm.get('status')?.touched && frm.get('status')?.invalid">
            &nbsp; &#9888; Status is required.
          </small>
        </div>
      </div>

      <div class="text-area">
        <div class="form-group field">
          <label for="remarks">Remarks</label>
          <textarea pInputTextarea class="mms-textarea" pInputText [rows]="4" formControlName="remarks" placeholder="Enter Remarks"          
           ></textarea>
        </div>
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <p-button label="{{ isEditMode ? 'UPDATE' : 'SAVE' }}" class="save-btn" type="submit"
      (onClick)="onSaveOrUpdate()" [disabled]="!frm.dirty || frm.invalid"></p-button>
    <p-button label="CANCEL" class="btn-secondary" (click)="visible = false" pAutoFocus [autofocus]="true"></p-button>
    
  </ng-template>
</p-dialog>


<p-dialog header="Confirm Delete" [(visible)]="displayDeleteDialog"
[draggable]="false"
[modal]="true" [closable]="false"[draggable] ="false">
      <p>Are you sure you want to Delete?</p>
      <div class="p-d-flex p-jc-end p-mt-3" style="margin-left: 30px">
        <p-button label="DELETE" class="save-btn mr-2" (click)="deleteTask()"></p-button>
        <p-button label="CANCEL" class="btn-secondary" id="p-dialog_cancel_btn"
          (click)="displayDeleteDialog = false"></p-button>
      </div>
    </p-dialog> 
<p-dialog header="Delete Failed" [(visible)]="showWarningDialog" [modal]="true" [closable]="false">
      <p>This engagement mode is in use.</p>

      <div style="display: flex; justify-content: center; margin-top: 1rem">
        <p-button label="OK" class="btn-secondary" (click)="showWarningDialog = false"></p-button>
      </div>
    </p-dialog>

      <p-dialog
  header="Edit Not Allowed"
  [(visible)]="showEditWarningDialog"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
>
  <p>This engagement mode is in use, you can't edit it</p>

  <div style="display: flex; justify-content: center; margin-top: 1rem">
    <p-button
      label="OK"
      class="btn-secondary"
      (click)="showEditWarningDialog = false"
    >
    </p-button>
  </div>
</p-dialog>
<p-toast></p-toast>